@charset "utf-8";

header#cabecalho {
    margin-top: 20px;
}

h2 {
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
}

div#tv-radio {
    margin-right: 500px;
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("_imagens/radio-tv.png") no-repeat;

}

audio#musica {
        display: block;
        position: relative;
        left: 575px;
        top: 495px;
        width: 300px;
        height: 40px;
}

video#filme {
        display: block;
        position: relative;
        left: 80px;
        top: -15px;
        width: 460px;
        height: 380px;
        border-radius: 15px;
}

article#noticia-principal {
    margin-bottom: 50px;
}